* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 200px;
    background-color: greenyellow;
}

#main-container {
    background-color: grey;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#info-container {
    width: 60%;
    margin: 20px;
    background-color: green;
    border: 1px solid; 
}

h1.c-title {
    margin: 10px;
    padding: 5px;
    background-color: grey;
    border: 2px solid;
}

#doc-container {
    width: 30%;
    background-color: blue;
}